
<div ng-controller="quiz.QuizController">

        <div id='wrapper'>
            <article>
                <header>
                    <h1>Quiz Admin</h1>

                    <form id='add-quiz-item'>
                        <button type='submit'>Add</button>
                        <div><input type='text' id='new-quiz-item-text' placeholder='Enter new quiz item' /></div>
                    </form>
                </header>

                <ul id='quiz-items'></ul>
                <p id='quiz-summary'>Loading...</p>
                <p></p>

            </article>
        </div>

</div>