
<div ng-controller="chat.ChatController">
	
        <div id='wrapper'>
            <article>
                <header>
                    <h1>Room Admin</h1>

                    <form id='add-room-item'>
                        <button type='submit'>Add</button>
                        <div><input type='text' id='new-room-item-text' placeholder='Enter new room' /></div>
                    </form>
                </header>

                <ul id='room-items'></ul>
                <p id='room-summary'>Loading...</p>

            </article>
        </div>

</div>